<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <% @title = "Space" %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
      $( function() {
          $( "#datepicker" ).datepicker({dateFormat: "yy-mm-dd"});
      } );
  </script>
</head>
<body>

  <div class="inp_space">

  <h2>Schedule</h2>


    <%= form_tag(spaces_path, method: :get) do %>
      <p>Choose Date: <%= text_field_tag :dt, params[:dt], id:'datepicker', :autocomplete => :off, :class => "txt_field"%></p>
      <p>Choose a Doctor: <%= select_tag :dcr, options_from_collection_for_select(@doctors, :id, :position, params[:dcr]), class: 'form-control form-control_add', prompt: "Select doctor"%> </p>
      <%= submit_tag ("Search"), class: "btn btn-outline-primary"%>
      <%= link_to "Create visit", root_path, class: "btn btn-outline-dark"%>
    <%end%>


  <br>

  <% if @spaces%>

    <% if @spaces.length == 0 %>
      <div>Doctor is free.</div>
    <% end %>

    <tbody>
    <% @spaces.each do |space| %>
      <tr>
        <td><%= space.start_time %> </td>
        <td>- <%= space.end_time %></td>
      </tr>
    <% end %>
    </tbody>

  <%end%>

  </div>

</body>
</html>