<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <% @title = "Space" %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
      $( function() {
          $( ".datepicker" ).datepicker({dateFormat: "yy-mm-dd"});
      } );
  </script>
</head>
<body>

  <h2>Search</h2>

  <%= form_tag(spaces_path, method: :get) do %>
  <p>Choose Date: <%= text_field_tag :dt, params[:dt], :class => 'datepicker', :autocomplete => :off%></p>
  <p>Choose a Doctor: <%= select_tag :dcr, options_from_collection_for_select(@doctors, :id, :position, params[:dcr]), prompt: "Select doctor"%> </p>
  <%= submit_tag ("Search")%>
  <%end%>

<% if @spaces%>
  <%= @spaces.each do |space| %>
  <ul>
    <li><%= space.start_time %>-<%= space.end_time %></li>
  </ul>
  <% end %>
<%end%>

  <%= link_to "To main page", root_path %>


</body>
</html>