<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <% @title = "Interval" %>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css" />


</head>
<body>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



<script>
    $( function() {
        $( "#datepicker,#dtp" ).datepicker({dateFormat: "yy-mm-dd"});
    } );

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>
<script>
    jQuery(function($) {
        $("#tp1, #tp2").datetimepicker({dateFormat: '',timeOnly: true});
    });
</script>

<% if @space.errors.any? %>
  <div class="alert alert-danger">
    <h5><%= t('common.errors') %></h5>
    <ul>
      <% @space.errors.full_messages.each do |message|%>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="inp_space">

    <h2>New space</h2>

  <%= form_for Space.new do |f|%>

    <%= f.label :create_date %>
    <%= f.text_field :create_date, id: "datepicker", :autocomplete => :off, :class => "txt_field"%>

    <p>Choose a Doctor: <%= f.collection_select :doctor_id, Doctor.all, :id, :position, {prompt: true}, {class: 'form-control form-control_add'} %> </p>
    <p>Choose a Patient name: <%= f.collection_select :patient_id, Patient.all, :id, :name_with_ln, {prompt: true}, {class: 'form-control form-control_add'}%></p>
    <p><%= f.label :start_time %>
    <%= f.text_field :start_time, id: "tp1", :autocomplete => :off, :class => "txt_field"%></p>

    <p><%= f.label :end_time %>
    <%= f.text_field :end_time, id: "tp2", :autocomplete => :off, :class => "txt_field"%></p>

    <%= f.submit 'Save', class: 'btn btn-outline-primary'%>

    <% end %>

  </div>

</body>


</html>