<!doctype html>
<html lang="en">
<head>



</head>
<body>



  <% if @patient.errors.any? %>
  <div class="alert alert-danger">
    <h5><%= t('common.errors') %></h5>
    <ul>
      <% @patient.errors.full_messages.each do |message|%>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


  <div class="inp_f">
  <h2>New Patient</h2>

  <%= form_for @patient do |f|%>

    <%= f.label :first_name %>
    <%= f.text_field :first_name, :autocomplete => :off, class: "txt_field"%>

    <br>

    <%= f.label :last_name %>
    <%= f.text_field :last_name, :autocomplete => :off , class: "txt_field"%>

    <br>

  <%= f.submit 'Save', class: 'btn btn-outline-primary'%>
  <%= link_to "Back", root_path, class: "btn btn-outline-dark"  %>

  <% end %>

  </div>

</body>
</html>