<!doctype html>
<html lang="en">
<head>

  <% @title = "New Patient" %>

</head>
<body>
  <h2>New Patient</h2>

  <%= form_for @patient do |f|%>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.submit 'Save' %>
  <% end %>

  <%= link_to "Back", "/" %>

</body>
</html>