<!doctype html>
<html lang="en">
<head>

  <% @title = "Doctors" %>

</head>
<body>

  <div class="d_table">
    <div class="tbl">
      <table class="table table-sm table-striped table-responsive">
        <thead class="thead-dark">
          <tr>
            <th>Position</th>
            <th>Name</th>
            <th>Worktime</th>
            <th colspan="3"></th>
          </tr>
        </thead>

      <tbody>
        <% @doctors.each do |d| %>
          <tr>
            <td><%= d.position %></td>
            <td><%= d.first_name %> <%= d.last_name %></td>
            <td><%= d.begin %>-<%= d.end %></td>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>

    <br>

    <%= link_to "Doctor's schedule", '/spaces', class: "btn btn-primary btn-lg" %>
    <%= link_to "Create visit", root_path, class: "btn btn-secondary btn-lg" %>
  </div>

</body>

</html>